.category-card-box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: $col-gap;
  grid-row-gap: rem(33px);
  padding-bottom: rem(20px);
  padding-top: rem(20px);
  margin-bottom: rem(20px);

}