.header {
  background: #181D1D;

  &__container {}

  &__desktop {
    display: flex;
    align-items: center;
    padding: rem(60px) 0;
    position: relative;

  }

  & .col {
    width: calc(#{$col-width-d});

    &:nth-child(2) {
      width: calc(#{$col-width-d}*2);
    }

    &:nth-child(5) {
      width: calc(#{$col-width-d}*7);
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  &__box {
    width: rem(58px);
    height: rem(58px);
    position: relative;
    border: 1px solid rgba(255, 255, 255, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  &__lang {
    background: none;
    border: none;
    position: relative;
    overflow: hidden;

    &::before {
      content: '';
      @include btn-before;
      background: #006525;
    }

    &:hover {
      & .header__box {
        border: 1px solid #006525;
      }

      &::before {
        transform: translateY(0);
      }
    }

    &-text {
      margin-right: rem(4px);
      font-weight: 500;
      font-size: rem(14px);
      color: #FFFFFF;
    }

    &-arrow path {
      stroke: white;
    }

    &-svg {
      width: rem(12px);
      height: rem(12px);
    }
  }

  &__logo {
    display: flex;
    cursor: pointer;

    &-svg {
      width: rem(147px);
      height: rem(58px);
    }
  }

  &__menu {
    position: absolute;
    top: 0;

    width: rem(60px);
    height: rem(118px);

    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: rem(17px);
    transition: all .5s ease;
    cursor: pointer;

    &:hover {
      background-color: #006525;
      color: #FFFFFF;

      & .header__menu-burger::before,
      .header__menu-burger::after {
        background: #FFFFFF;
      }
    }

    &-text {
      margin-bottom: rem(18px);
      text-transform: uppercase;

      font-weight: 600;
      font-size: rem(12px);

      z-index: 1;
    }

    &-burger {

      width: rem(36px);
      height: rem(10px);
      position: relative;

      &::before,
      &::after {
        content: '';
        position: absolute;

        height: rem(1.5px);
        width: rem(36px);
        background: #181D1D;
        left: 50%;
        transform: translateX(-50%);
        transition: all .5s ease;
      }

      &::before {
        top: 0;
      }

      &::after {
        bottom: 0;
      }

    }
  }

  &__search {
    background: none;
    border: none;
    position: relative;
    overflow: hidden;

    &::before {
      content: '';
      @include btn-before;
      background: #006525;
    }

    &:hover {
      & .header__box {
        border: 1px solid #006525;
      }

      &::before {
        transform: translateY(0);
      }
    }


    &-svg {
      width: rem(20px);
      height: rem(20px);

      & path {
        stroke: white;
      }
    }
  }

  &__navigation {
    width: calc(#{$col-width-d}*4);
  }

  &__list {
    display: flex;
    align-items: center;
    gap: rem(32px);
  }

  &__link {
    font-size: rem(18px);
    color: #FFFFFF;
    cursor: pointer;
  }

  &__phone {
    margin-right: rem(32px);

    font-weight: 500;
    font-size: rem(18px);
    line-height: 130%;
    color: #FFFFFF;

  }

  &__links {
    display: flex;
    align-items: center;
  }

  &__user {
    display: flex;
    gap: rem(8px);
  }

  &__call,
  &__mail {
    background: none;
    border: none;
    position: relative;
    overflow: hidden;

    &::before {
      content: '';
      @include btn-before;
      background: #006525;
    }

    &:hover {
      & .header__box {
        border: 1px solid #006525;
      }

      &::before {
        transform: translateY(0);
      }
    }


    &-svg {
      width: rem(20px);
      height: rem(20px);

      & path {
        stroke: white;
      }
    }
  }
}