
.select-wrapper {
    width: rem(349px);
    display: flex;
    justify-content: center;

    .select2-selection {

        border-radius: 0;
        height: rem(32px);
        display: flex;
        align-items: center;
        margin-bottom: rem(20px);
        border: 1px solid rgba(0, 0, 0, 0.12);
        padding: rem(27px) rem(24px);
        background: #F0F0F0;


    }

    .select2-selection__rendered {
        font-weight: 500;
        font-size: rem(16px);
        line-height: 100%;
        text-transform: uppercase;
        color: #02343B;
    }

    .select2-container .select2-selection--single .select2-selection__rendered {
        padding: 0;
    }

    .select2-dropdown .select2-dropdown--below {
        padding: 0;
    }

    .select2-selection__arrow {
        background-image: url("data:image/svg+xml,%3Csvg width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.8327 11.6667L13.9993 17.5L8.16602 11.6667' stroke='%2302343B' stroke-width='1.5' stroke-linecap='square'/%3E%3C/svg%3E%0A");
        background-position: center center;


        & b {
            display: none;

        }
    }

    .select2-container--default .select2-selection--single .select2-selection__arrow {
        height: 26px;
        position: absolute;
        top: 22%;
        right: 3%;
        width: 20px;
        transition: $transition;
    }

    .select2-container--open .select2-selection__arrow {
        transform: rotate(180deg);
    }

    .select2-container--default .select2-results>.select2-results__options {
        max-height: none;
        overflow-y: auto;
    }

    .select2-container {

        // @media (max-width: ($breakpoint - 1px)) {
        //   pointer-events: none;
        // }

        .select2-dropdown {
            //секция с options
            // margin-top: rem(8px);
            padding: rem(15px) 0;
            // padding: 0;


            @media (max-width: ($breakpoint - 1px)) {
                // padding: 0;
            }

            // box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.12);
            border-radius: 0;
            border: none;
        }

        .select2-container--default .select2-results>.select2-results__options {
            //??

            max-height: none;

            @media (max-width: ($breakpoint - 1px)) {
                max-height: none;
            }

            overflow-y: auto;
            @include scrollbar-hidden;
            // @include styled-scrollbar(color(borders-alt), 4px)
        }

        .select2-results__option {
            // сами options
            padding: rem(20px);

            border: 1px solid #E3E3E3;
            display: flex;
            align-items: center;

            @include fsl(16px, 100%);
            transition: $transition;

            @media (max-width: ($breakpoint - 1px)) {
                @include fsl(14px);
            }

            &--selected {
                // background-color: red;
            }

            &--highlighted[aria-selected] {
                // color: color(yellow);
                // background-color: color(white);

            }

            &[aria-selected=true] {
                background: #F4F4F4;
                border: 1px solid #E3E3E3;
                color: #006525;
            }

            &:not(:first-child) {
                // margin-top: rem(16px);

                @media (max-width: ($breakpoint - 1px)) {
                    margin-top: rem(8px);
                }
            }
        }

        &__option {
            display: flex;
            align-items: center;
        }
    }
}