extends ../layouts/master


block content 
  //- +card
  .category-card-box.container
  //-   +categoryCard('Автотехника и запчасти', 1)
  //-     +categoryCard-1.category-card-svg
  //-   +categoryCard('Мебель и осветительная техника', 2)
  //-     +categoryCard-2.category-card-svg
  //-   +categoryCard('Механическое  оборудование и техника', 3)
  //-     +categoryCard-3.category-card-svg
  //-   +categoryCard('Электрические устройства, аппаратура связи', 4)
  //-     +categoryCard-4.category-card-svg
  //-   +categoryCard('Изделия из черных металлов', 5)
  //-     +categoryCard-5.category-card-svg
  //-   +categoryCard('Одежда швейная и трикотажная', 6)
  //-     +categoryCard-6.category-card-svg
  //-   +categoryCard('Пластмассы и изделия из них', 7)
  //-     +categoryCard-7.category-card-svg
  //-   +categories-btn

  //- +history-swiper
  


  //- +about-page__slider
  //- +question

  //- +accordeon

  //- +user-content
  +diagram