mixin accordeon
  .accordeon(data-accordion ='').container
    .accordeon__item 
      .accordeon__item-row 
        .accordeon__item-title Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, reiciendis?
        .accordeon__item-btn(id='btnAccordeon')
          +arrowDown-svg.accordeon__item-svg
      .accordeon__item-row(data-accordion-dropDown='')
        p.accordeon__item-text Lorem, ipsum dolor sit amet consectetur adipisicing elit. Impedit laudantium excepturi voluptatum unde deserunt aut libero ipsum eos fuga quae.
        p.accordeon__item-text Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus, maxime sint doloremque saepe facilis beatae possimus officia nobis iure pariatur!