mixin categories-btn
  .categories-btn
    +category_btn-bg.categories-btn__bg__svg
    .categories-btn__icon
      +category_btn-icon.categories-btn__icon__svg
    .categories-btn__text
      p  Статистика ERAI
    .categories-btn__arrow
      +arrowDown-svg.categories-btn__arrow__svg