mixin diagram 
    section.diagram
        .container 
            h2.diagram__title Углеродный след CO2 за 2022 год
            .diagram__elements 
                .diagram__element 
                .diagram__element 
                .diagram__element 
            .diagram__items 
                .diagram__item.item
                    .item__wrapper    
                        .item__col 
                            +ship-svg.item__box-svg
                        .item__col
                            .item__row 
                                .item__title 
                                    p Lorem, ipsum.
                            .item__row
                                p 159 400
                            .item__row 
                                p Lorem.
                .diagram__item.item
                    .item__wrapper    
                        .item__col 
                            +ship-svg.item__box-svg
                        .item__col
                            .item__row 
                                .item__title 
                                    p Lorem, ipsum.
                            .item__row
                                p 159 400
                            .item__row 
                                p Lorem.
                .diagram__item.item
                    .item__wrapper    
                        .item__col 
                            +ship-svg.item__box-svg
                        .item__col
                            .item__row 
                                .item__title 
                                    p Lorem, ipsum.
                            .item__row
                                p 159 400
                            .item__row 
                                p Lorem.
                .diagram__item.item
                    .item__wrapper    
                        .item__col 
                            +ship-svg.item__box-svg
                        .item__col
                            .item__row 
                                .item__title 
                                    p Lorem, ipsum.
                            .item__row
                                p 159 400
                            .item__row 
                                p Lorem.
            .diagram__bg
                .diagram__bg-wrapper      
                    +diagram-svg.diagram__bg-svg
                    +picture('diagram-tree.jpg').diagram__bg-img
                    