mixin header 
    header.header 
        .header__container.container
            .header__desktop
                .col 
                    button.header__lang
                        .header__box 
                            .header__lang-text RU 
                            .header__lang-arrow 
                                +arrowDown-svg.header__lang-svg
                        
                .col
                    a.header__logo
                        +logo-svg.header__logo-svg
                .col
                    .header__menu 
                        .header__menu-text Меню
                        .header__menu-burger
                        
                .col
                    button.header__search 
                        .header__box 
                            +search-svg.header__search-svg
                .col
                    nav.header__navigation
                        ul.header__list 
                            each link in ['Услуги','Карта маршрутов','Отслеживание грузов']
                                li.header__item 
                                    a.header__link=link
                    .header__links
                        a.header__phone(href="tel: +74959959591") +7 495 995-95-91
                        .header__user
                            button.header__call
                                .header__box 
                                    +call-svg.header__call-svg
                            button.header__mail
                                .header__box
                                    +mail-svg.header__mail-svg
            .header__mobile 