mixin speed-swiper 
  section.speed
    .speed__column-left
      .swiper-speed
        .swiper-wrapper
          .swiper-slide
            +picture('slider-speed-1.jpg')
          .swiper-slide slide 2
          .swiper-slide slide 3
          .swiper-slide slide 4
          .swiper-slide slide 5
    .speed__column-right
      .speed__row
        .swiper-vertical
          .swiper-wrapper
            .swiper-slide
              .swiper__title 
                h2 скорость
              .swiper__text
                p 5-7 дней от границы КНР до границы Европы.В 3-5 раз быстрее доставки по морю.
            .swiper-slide
              .swiper__title 
                h2 Второй слайд
              .swiper__text
                p 5-7 дней от границы КНР до границы Европы.В 3-5 раз быстрее доставки по морю.
            .swiper-slide
              .swiper__title 
                h2 скорость
              .swiper__text
                p 5-7 дней от границы КНР до границы Европы.В 3-5 раз быстрее доставки по морю.
            .swiper-slide
              .swiper__title 
                h2 скорость
              .swiper__text
                p 5-7 дней от границы КНР до границы Европы.В 3-5 раз быстрее доставки по морю.
            .swiper-slide
              .swiper__title 
                h2 Второй слайд
              .swiper__text
                p 5-7 дней от границы КНР до границы Европы.В 3-5 раз быстрее доставки по морю.
            
      .speed__row-bottom
        .speed__controls
          .speed__btn.speed__btn-prev
            +arrowDown-svg.speed__btn-svg
          .speed__btn.speed__btn-next
            +arrowDown-svg.speed__btn-svg
        .speed__pagination




