mixin user-content
    section.user-content.container 
        .user-content__row
            h1.user-content__title Lorem ipsum dolor sit amet consectetur.
            .user-content__items 
                a.user-content__items-link Lorem, ipsum.
                p.ruser-content__items-date 20 января 2023
        .user-content__row
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate, natus.
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius, nesciunt.
            h2 Lorem ipsum dolor sit amet.
            h3 Lorem ipsum dolor sit amet.
            h4 Lorem ipsum dolor sit amet.
            ul 
                li Lorem ipsum dolor sit amet consectetur adipisicing elit.
                li Lorem ipsum dolor sit amet consectetur adipisicing elit.
                li Lorem ipsum dolor sit amet consectetur adipisicing elit.
                li Lorem ipsum dolor sit amet consectetur adipisicing elit.
            ol 
                li Lorem ipsum dolor sit amet consectetur adipisicing elit.
                li Lorem ipsum dolor sit amet consectetur adipisicing elit.
                li Lorem ipsum dolor sit amet consectetur adipisicing elit.
                li Lorem ipsum dolor sit amet consectetur adipisicing elit.
            +picture('slider-speed-1.jpg')